@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Satisfy&family=Work+Sans:wght@800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

::selection {
    background-color: #234052;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: #1F2936;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 10vh;
    width: 100%;
}

.nav {
    background-color: #1F2936;
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 57%) 0px 0px 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
    padding: 30px;
}

.nav__logo {
    width: 30%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.nav__logo a {
    text-decoration: none;
}

.nav__name {
    color: turquoise;
    font-size: 45px;
    font-family: 'Nanum Brush Script', cursive;
}

.nav__links {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    color: white;
    display: flex;
    gap: 5%;
    list-style: none;
    padding-right: 50px;
}

.nav__menuLinks {
    display: none;
}

.icon__menu {
    display: none;
}

.nav__link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.nav__link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: turquoise;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.75s ease;
}


.nav__link:hover::before {
    transform: scaleX(1);
}

.nav__link:hover {
    color: turquoise;
    text-shadow: 4px 3px 3px black;
}

.nav__link-active {
    color: turquoise;
    text-shadow: 4px 3px 3px black;
}

.section {
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__separator {
    width: 40%;
    border-bottom: 1px solid rgb(48, 96, 118);
}

/* -------------------------------------------- HOME --------------------------------------------*/

.section--inicio {
    height: 90vh;
    display: flex;
    padding-bottom: 100px;
}

.picture {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture__container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid rgb(54, 54, 54);
    background-image: url('/assets/1650231572382.jpg');
    background-size: cover;
    background-position: center;
}

.greeting {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.greeting__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.greeting__title {
    font-weight: 600;
    font-size: 30px;
}

.greeting__subtitle {
    font-weight: 600;
    font-size: 22px;
}

.greeting__text {
    line-height: 1.5;
    font-size: 17px;
}

.greeting__name {
    color: rgb(13, 167, 167);
    border-right: 3px solid;
    padding-right: 3px;
    animation: teclear 2s steps(16), efecto .5s step-end infinite alternate;
}

@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}

.greeting__interactions {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

a.greeting__link,
a.card__linkGithub {
    text-decoration: none;
    color: #000;
}


.greeting__icons,
.card__iconGithub {
    font-size: 30px;
    cursor: pointer;
    margin-top: 1px;
    color: white;
    transition: 0.50s;
}

.greeting__icons:hover {
    color: rgb(13, 167, 167);
}

a.greeting__buttonDownloadCv {
    text-decoration: none;
}

.greeting__buttonDownloadCv {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #234052;
    background-color: transparent;
    color: white;
    font-size: 16px;
    transition: 0.50s;
}

.greeting__buttonDownloadCv:hover {
    background-color: teal;
    border-top: 1px solid #1F2936;
}

.greeting__buttonDownloadCv:hover::after {
    width: 100%;
}

.section--experience,
.section--skills,
.section--proyects {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* -------------------------------------------- EXPERIENCE --------------------------------------------*/


.experience__container {
    width: 75%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 50px;
    border-left: 1px solid #373635;
}


.article {
    position: relative;
}

.article__mark {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: slategrey;
    position: absolute;
    top: 8px;
    left: -5px;
}

.article__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 0px 0px 15px;
}

.article__date {
    opacity: 0.5;
}

.article__title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 167, 167);
}

.article__textList {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.article__textListTitle {
    margin: 5px 0px 5px 0px;
    font-weight: 600;
    font-size: 19px;
}

.article__textListSubstitle {
    margin: 5px 0px 5px 0px;
    font-weight: 600;
    font-size: 17px;
}

.article__text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 17px;
}

/* -------------------------------------------- SKILLS --------------------------------------------*/


.skills__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    flex-wrap: wrap;
}

.skills__iconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: transparent;
    border-radius: 8px;
    padding: 15px;
    width: 32%;
    box-shadow: black 0px 1px 5px 0px;
}


.skills__iconText {
    font-size: 16px;
    margin-top: 5px;
    opacity: 0.5;
}

.skills__iconTitle {
    font-size: 17px;
    font-weight: 600;
}

/* -------------------------------------------- PROYECTS --------------------------------------------*/

.proyects__container {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    flex-wrap: wrap;
}

.proyects__card {
    width: 30%;
    height: 500px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 0px 3px 1px black;
}

.card__image {
    width: 100%;
    height: 50%;
}

.card_titleAndIcon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 8px;
    align-items: center
}

.card__title {
    font-size: 16px;
    color: rgb(13, 167, 167)
}

.card__linkGithub--button {
    display: flex;
    justify-content: space-between;
    padding: 3px 3px 3px 3px;
    align-items: center;
    width: 88px;
    border-radius: 3px;
    transition: 0.5s;
    color: white !important;
    background-color: black;
    border: 1px solid #234052;
}

.card__linkGithub--button:hover {
    background-color: teal;
    border: 1px solid #1F2936;
}

.card__buttonText {
    font-size: 14px;
}

.card__iconGithub {
    font-size: 23px;
    background: transparent;
    cursor: pointer;
}

.card__article {
    font-size: 14px;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.card__abilities ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    column-gap: 5px;
    list-style: none;
    row-gap: 5px;
    padding: 5px 5px 0px 10px;
}

.card_subtitle {
    font-size: 16px;
    color: rgb(13, 167, 167);
    padding-left: 10px;
}

/* -------------------------------------------- CONTACT --------------------------------------------*/

.section--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

.contact__container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.contact__container h2 {
    margin-left: 100px;
}

.contact__form {
    margin-top: 25px;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__emailContainer,
.contact__messageContainer {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 20px;
}

.contact__emailContainer label,
.contact__messageContainer label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 110px;
    padding: 5px;
    box-sizing: border-box;
}

.contact__emailContainer input {
    width: 100%;
    height: 35px;
    padding: 5px;
    font-size: 18px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #306076;
    border-radius: 3px;
    color: white;
}

.contact__emailContainer input:focus {
    outline: none;
}

.contact__textareaContainer {
    width: 100%;
}

.contact__messageContainer textarea {
    width: 100%;
    min-height: 250px;
    max-height: 400px;
    font-size: 18px;
    padding: 10px 5px 5px 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #306076;
    border-radius: 3px;
    color: white;
    resize: vertical
}

.contact__messageContainer textarea:focus {
    outline: none;
}

.contact__buttonWrapper {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-left: 110px;
}

.contact__buttonWrapper button {
    width: 25%;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid #234052;
    color: white;
    font-size: 16px;
    transition: 0.50s;
}

.contact__buttonWrapper button:hover {
    background-color: rgb(13, 167, 167);
    border: 1px solid #1F2936;
}

.contact_backToHomeButton {
    width: 80%;
    height: 10%;
}

#fixed-icon {
    background-color: darkcyan;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 999;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.50s;
    box-shadow: 0px 1px 5px 0px black;
}

.no-link-color {
    color: white;
    text-decoration: none;
}

/* -------------------------------------------- RESPONSIVE --------------------------------------------*/

@media screen and (min-width: 320px) and (max-width: 480px) {
    .nav__links {
        display: none;
    }

    .nav__iconMenuContainer {
        position: relative;
    }

    .icon__menu {
        display: block;
        font-size: 25px;
        color: turquoise;
        cursor: pointer;
        position: relative;
    }

    .nav__menuLinks {
        background-color: black;
        list-style: none;
        position: absolute;
        top: 30px;
        left: -130px;
        width: 155px;
        padding: 5px 5px 15px 5px;
        border-radius: 5px;
    }

    .nav__link {
        font-size: 16px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        padding: 15px 5px 3px 5px;
    }

    .nav__name {
        font-size: 40px;
    }

    .section {
        width: 95%;
        gap: 100px;
    }

    .section--inicio {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 0px;
        gap: 10px;
        height: auto;
    }

    .picture {
        width: 190px;
        height: 190px;
    }

    .picture__container {
        width: 100%;
        height: 100%
    }

    .greeting {
        width: 100%
    }

    .greeting__container {
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }

    .greeting__title {
        font-size: 22px;
    }

    .greeting__subtitle {
        font-size: 20px;
    }

    .greeting__text {
        line-height: 1.3;
        font-size: 16px;
        text-align: center;
    }

    .greeting__interactions {
        justify-content: center;
    }

    .greeting__buttonDownloadCv {
        padding: 3px;
    }

    .experience__container {
        width: 98%
    }

    .article__title {
        font-size: 18px;
    }

    .article__textListTitle {
        font-size: 18px;
    }

    .article__text {
        font-size: 16px;
    }

    #experiencia {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
    }

    .article__date {
        font-size: 20px;
    }

    .section--experience {
        height: inherit
    }

    .experience__container {
        gap: 15px;
    }

    #habilidades {
        height: auto;
        padding-top: 100px;
    }

    .skills__container {
        gap: 15px;

    }

    .skills__iconContainer {
        width: 95%;
    }

    .section--skills {
        height: auto;
    }

    #proyectos {
        width: 92%;
        height: auto;
        padding-top: 100px;
    }

    .section--proyects {
        height: auto;
    }

    .proyects__container {
        flex-direction: column;
    }

    .proyects__card {
        width: 92%;
    }

    .contact__container {
        width: 95%;
        height: auto;
        gap: 10px;
    }

    .contact__form {
        margin-top: 0px;
        width: 100%;
        gap: 5px
    }

    .contact__container h2 {
        margin-left: 0px;
    }

    .contact__emailContainer,
    .contact__messageContainer {
        width: 100%;
        display: flex;
        align-items: start;
        gap: 8px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .contact__emailContainer label,
    .contact__messageContainer label {
        justify-content: flex-start;
    }

    .contact__buttonWrapper {
        width: 100%;
        padding-left: 0px;
    }

    .contact__buttonWrapper button {
        width: 60%;
    }

    #fixed-icon {
        bottom: 45px;
        right: 26px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        /* background-color: purple; */
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        /* background-color: green; */
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        /* background-color: #306076; */
    }
}